In [1]:
import pandas
import numpy

In [2]:
pandas.DataFrame(data={"data": numpy.random.randint(0, 100, 5)}).assign(
    tens=lambda df: pandas.cut(
        df["data"], bins=list(range(0, 110, 10)), labels=list(range(0, 100, 10))
    )
)

   data tens
0    15   10
1    39   30
2    12   10
3    28   20
4    80   70