In [1]:
import pandas
from sqlalchemy import create_engine

In [2]:
# Add echo=True to see all the operations performed by sqlalchemy
disk_engine = create_engine("sqlite:///dummy.db")

In [3]:
pandas.DataFrame(data={"id": [1, 2], "name": ["Alice", "Bob"]}).to_sql(
    name="main", con=disk_engine, if_exists="replace", index=False
)

In [4]:
pandas.read_sql(sql="SELECT * FROM main", con=disk_engine)

   id   name
0   1  Alice
1   2    Bob