In [1]:
import pandas

In [2]:
df = pandas.DataFrame(
    data={"dates": pandas.date_range("2018-01-01", periods=365, freq="1D"), "value": 365 * [1]}
)

One can create a Grouper on dates which maps the column into the first day of the month (MS=Month Start)

Reference: https://pbpython.com/pandas-grouper-agg.html

In [3]:
monthly_grouper = pandas.Grouper(key="dates", freq="MS")
df.groupby(by=monthly_grouper).agg({"value": "sum"}) # equivalent to .size()

            value
dates
2018-01-01     31
2018-02-01     28
2018-03-01     31
2018-04-01     30
2018-05-01     31
2018-06-01     30
2018-07-01     31
2018-08-01     31
2018-09-01     30
2018-10-01     31
2018-11-01     30
2018-12-01     31

This is equivalent to resampling with the same frequency.

In [4]:
df.set_index(keys=["dates"]).resample(rule="MS").agg({"value": "sum"})

            value
dates
2018-01-01     31
2018-02-01     28
2018-03-01     31
2018-04-01     30
2018-05-01     31
2018-06-01     30
2018-07-01     31
2018-08-01     31
2018-09-01     30
2018-10-01     31
2018-11-01     30
2018-12-01     31